
@inject FeatureService _featureService
@{
    var result = await _featureService.GetAllFeaturesAsync();
    List<FeatureEntity> content = (List<FeatureEntity>)result.ContentResult!;
    var feature = content.First();
}



@if(content != null) {
<section class="features">
    <div class="container">
        <h2>@feature.Title</h2>
        <p class="p-width">@feature.Ingress</p>
        <div class="feature-boxes">
            @foreach (var item in feature.FeatureItems)
            {
                <a class="link-box" href="#">
                    <div class="f-box-1 f-box">
                        <img src="@item.ImageUrl" alt="@item.Title">
                        <h5>@item.Title</h5>
                        <p>@item.Text</p>
                    </div>
                </a>
            }
        </div>
    </div>
</section>
}
